<h2 class="text-center display-3 mt-2"> Edit Your Session </h2>
<hr>
<div class="form-group">
    <form method="POST" action="/recordingsessions/<%= @client.slug %>/<%= @recording_session.id %>">
        <input type="hidden" name="_method" value="PATCH">
            <div class= "form-group">
                <div class = "form-row">
                    <div class= "form-group col-md-6">
                        <label for= "client_name" class = "col-form-label"><h6 class = "font-weight-thin">Client Name</h6></label>
                        <input type="text" class = "form-control" name="client[name]" id="client_name" value = "<%= @client.name %>" ></>
                    </div>

                    <div class= "form-group col-md-6">
                        <label for= "client_email" class = "col-form-label"><h6 class = "font-weight-thin">Client Email</h6></label></li>
                        <input type="text" class = "form-control" name="client[email]" id="client_email" value = "<%= @client.email %>"></>
                    </div>
                </div>
                <div class = "form-row">
                    <div class= "form-group col-md-6">
                        <label for = "start_date" class = "col-form-label"><h6 class = "font-weight-thin">Start Date</h6></label></li>
                        <input type="date" class = "form-control" name="recording_session[start_date]" id="start_date" min= <%= Date.today%> value = "<%= @recording_session.start_date %>">
                    </div>
                <div class= "form-group col-md-6">
                    <label for = "end_date" class = "col-form-label"><h6 class = "font-weight-thin">End Date</h6></label></li>
                    <input type="date" class = "form-control" name="recording_session[end_date]" id="end_date" min= <%= Date.today%> value = "<%= @recording_session.start_date %>">
                </div>
            </div>
            <label for= "recording_session_genre" class = "col-form-label"><h6 class = "font-weight-thin">Genre</h6></label>
            <input type="text" class = "form-control" name="recording_session[genre]" id="recording_session_genre" value = "<%= @recording_session.genre %>"></br>
                <div class = "form-row">
                    <div class= "form-group col-md">
                        <label for= "recording_session_budget" class = "col-form-label"><h6 class = "font-weight-thin">Budget</h6></label></li>
                        <input type="number" class = "form-control" step="1" name="recording_session[budget]" id="recording_session_budget" value = "<%= @recording_session.budget %>">
                    </div>
                    <div class= "form-group col-md">
                        <label for = "per_hour" class = "col-form-label"><h6 class = "font-weight-thin">Rate (Per Hour)</h6></label>
                        <input type="number" class = "form-control" min=0 step= "1" name="recording_session[per_hour]" id="per_hour" value = "<%= @recording_session.per_hour %>">
                    </div>
                    <div class= "form-group col-md">
                        <label for = "hours_per_day" class = "col-form-label"><h6 class = "font-weight-thin">Hours (Per Day)</h6></label>
                        <input type="number" class = "form-control" min="1" max="24" name="recording_session[hours_per_day]" id="hours_per_day" value = "<%= @recording_session.hours_per_day %>">
                    </div>
                </div>
    <hr>
    <h4>More Client Options </h4>
    <p class= "font-weight-light m-0">Is the client bringing their own producer(s)?</p>
        <div class="custom-control custom-radio">
            <input id = "recording_session_producer_yes" type="radio" name="recording_session[has_producer?]" class= "custom-control-input" value="true" <%='checked' if @recording_session.has_producer? == true %>>
            <label for="recording_session_producer_yes" class= "custom-control-label"> Yes </label>
        </div>
        <div class="custom-control custom-radio">
            <input id = "recording_session_producer_no" type="radio" name="recording_session[has_producer?]" class= "custom-control-input" value="false" <%='checked' if @recording_session.has_producer? == false %>>
            <label for="recording_session_producer_no" class= "custom-control-label"> No </label>
        </div>

        <p class= "font-weight-light m-0">Is the client bringing their own band?</p>
        <div class="custom-control custom-radio">
            <input id = "recording_session_band_yes" type="radio" name="recording_session[band?]" class= "custom-control-input" value="true" <%='checked' if @recording_session.band? == true %>>
            <label for="recording_session_band_yes" class= "custom-control-label"> Yes </label>
        </div>
        <div class="custom-control custom-radio">
            <input id = "recording_session_band_no" type="radio" name="recording_session[band?]" class= "custom-control-input" value="false" <%='checked' if @recording_session.band? == false %>>
            <label for="recording_session_band_no" class= "custom-control-label"> No </label>
        </div>

        <p class= "font-weight-light m-0">Is the client bringing their own drums?</p>
        <div class="custom-control custom-radio">
            <input id = "recording_session_drums_yes" type="radio" name="recording_session[drums?]" class= "custom-control-input" value="true" <%='checked' if @recording_session.drums? == true %>>
            <label for="recording_session_drums_yes" class= "custom-control-label"> Yes </label>
        </div>
        <div class="custom-control custom-radio">
            <input id = "recording_session_drums_no" type="radio" name="recording_session[drums?]" class= "custom-control-input"  value="false" <%='checked' if @recording_session.drums? == false %>>
            <label for="recording_session_drums_no" class= "custom-control-label"> No </label>
        </div>
        
        <h5 class="font-weight-light mt-3"><label for="recording_session_comments"> Additional Comments</h5>
        <textarea class="form-control" id="recording_session_comments" name="recording_session[additional_comments]" rows="4" cols="50" value = <%= @recording_session.additional_comments %>> </textarea>
        </br>
        <button type="submit" class="btn btn-primary border">Edit Session</button>
    </form>
</div>