<h1>This is the Model's index page.</h1>
<h2>Your Sessions</h2>

<div class="sessionbox">
    <ul>
        <%@recording_sessions.all.each do |session|%>
            <li> <%= session.client %> - <%= session.genre %> </li>
            <li> <%= session.start_date %> - <%= session.end_date %> </li>
            <li> <%= session.hours_per_day%> - <%= session.per_hour %> </li>
            <li><a href="/recordingsessions/<%= session.client %>/<%= session.id %>"> </li> 
        <% end %>
    </ul>
</div>





<div class="linkbox">
    <ul>
        <li><a href="/recordingsessions/new"><input type="button" value = "New Session"></a></li>
        <li><a href="/login"><input type="button" value = "Log In"></a></li>
    </ul>
</div>
