<h1>This is the Model's index page.</h1>
<% if flash[:error]%>
    <h6><%= flash[:error]%></h6>
<% end %>
<h2>Hi <%= current_user.name %>! Here are your sessions</h2>
<% if @recording_sessions != [] %>
    <div class="sessionbox">
        <ul>
            <%@recording_sessions.all.each do |session|%>
                <li><a href="/recordingsessions/<%= session.client.slug %>/<%= session.id %>"> View Your Session with <%=session.client.name%> on <%= session.start_date %> </br>
                <a href="/recordingsessions/<%= session.client.slug %>/<%= session.id %>/edit"><input type ="button" value = "Edit This Session" ></a>
                <form method="post" action="/recordingsessions/<%= session.client.slug %>/<%= session.id %>/delete">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value = "Delete This Session"> </li>
  </form>
                 
            <% end %>
        </ul>
    </div>
<% else %>
    <h3> Looks like you don't have any sessions yet!</h3>
<% end %>
</br>
</br>
<div class="linkbox">
    <ul>
        <li><a href="/recordingsessions/new"><input type="button" value = "New Session"></a></li>
        
            <% if @clients != [] %>
            <li> Or create a session with a returning client </li>
            <%@clients.each do |client|%>
            <a href= "/recordingsessions/<%= client.slug %>/new"><%= client.name%> - <%= client.email%></a>
            <% end %>
            <% end %>
</div>

        <li><a href="/logout"><input type="button" value = "Log Out"></a></li>
    </ul>
</div>
