<h1>StudioAssistant</h1>
<% if flash[:error]%>
    <h6><%= flash[:error]%></h6>
<% end %>
<h2>Hi <%= current_user.name %>! Here are your sessions</h2>
<% if @recording_sessions != [] %>
   
    <table class="table table-bordered table-hover"> 
    <caption>List of sessions</caption>
    <thead>
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Start Date</th>
      <th scope="col">Genre</th>
      <th scope="col">Session Options</th>
    </tr>
  </thead>    
      <tbody>      
        <%@recording_sessions.all.each do |session|%>
      <% if session.is_session_today? %> <tr class ="table-danger"> <% else %> <tr> <% end%>
      <th scope="row"><%= session.client.name %></th>
      <td><%= session.start_date %></td>
      <td><%= session.genre %></td>
      <td><a href="/recordingsessions/<%= session.client.slug %>/<%= session.id %>"> View Your Session </a>
      <a href="/recordingsessions/<%= session.client.slug %>/<%= session.id %>/edit">Edit Your Session</a>
      <form method="post" action="/recordingsessions/<%= session.client.slug %>/<%= session.id %>/delete">
      <input type="hidden" name="_method" value="delete">
       <input type="submit" value = "Delete This Session">
      <% end %>
    </tbody>
</table>

                 
<% else %>
    <h3> Looks like you don't have any sessions yet!</h3>
<% end %>
</br>
</br>
<div class="linkbox">
    <ul>
        <li><a href="/recordingsessions/new"><input type="button" value = "New Session"></a></li>
        
            <% if @clients != [] %>
            <li> Or book a new session with a current client! </li>
            <%@clients.each do |client|%>
            <a href= "/recordingsessions/<%= client.slug %>/new"><%= client.name%> - <%= client.email%></a>
            <% end %>
            <% end %>

        <li><a href="/logout"><input type="button" value = "Log Out"></a></li>
    </ul>

