<h1>This is the show page for an individual instance of your model.</h1>
<h2>Hi, <strong><%= @user.name %></strong>! Here's what to expect for your session on <%= @recording_session.start_date %></h2>
<div class="info-box" id="client-box">
<p> <%= @client.name %> is our client. They have a <%= @client.genre %> project.</p>
<p> <%if @client.budget %> Our client's budget is $<%= @client.budget %>. If there's a problem with that, email them at <%= @client.email %>. 
<% else %> You still need to contact your client at <%= @client.email %> to discuss budget. <% end %> </p>


<% if @client.band? || @client.drums? || @client.has_producer? %>
<% if @client.band?%> They are bringing their own band. No need to hire any musicians. <% end %>
<% if @client.drums?%>They are bringing their own drums. They will use their own time to set up their kit. <% end %>
<% if @client.has_producer?%> They have a producer they have hired. <% end %>
<% end %>
</div>

<div class= "info-box" id="session-box">

<p> This session is set to begin on <%= @recording_session.start_date %>!
<% if @recording_session.end_date == "" %> 
No end date yet, so it will go until it's finished! 
<% else %> 
It will finish on <%= @recording_session.end_date %>!
<% end %> </p>

<p> You are charging the client $<%= @recording_session.per_hour %> and working <%= @recording_session.hours_per_day%> hours per day.
 That adds up to $<%= (@recording_session.per_hour * @recording_session.hours_per_day) %> per day!</p>

 <p> Considering their budget, that adds up to about <%= ((@client.budget)/(@recording_session.per_hour * @recording_session.hours_per_day)).floor() %> days. Double check with <%= @client.name %> if that's enough time. </p>
</div>

<div class = "link-box" id = "edit-delete-box">
  <a href="/recordingsessions/<%= @client.slug %>/<%= @recording_session.id %>/edit"> <input type = "button" value = "Edit Your Session"></a>
  <form method="post" action="/recordingsessions/<%= @client.slug %>/<%= @recording_session.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value = "Delete Your Session">
  </form>
